.single-event-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.single-event-title {
    width: fit-content;
    padding-left: 24px;
    padding-right: 12px;
}

.single-event-title::before {
    border: 10.5px solid transparent;
    border-left-color: #c6f6d5;
    position: absolute;
    content: "";
    left: 0px;
}