.-mx-8px {
    margin-left: -8px;
    margin-right: -8px;
}

.mt-5px {
    margin-top: 5px;
}

.mt-10px {
    margin-top: 10px;
}

.title-left:after {
    border: 3px solid transparent;
    border-right-color: #06540c;
    border-bottom-color: #06540c;
    content: "";
    left: 18px;
    position: absolute;
}

.title-content:after {
    border: 3px solid transparent;
    border-left-color: #06540c;
    border-top-color: #06540c;
    content: "";
    top: 100%;
    position: absolute;
    right: 2px;
}